name: Build

on:
  push:
    branches:
      - '**' 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set BUILD_VERSION
      run: echo "BUILD_VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))-b$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
    - name: BuildTools cache
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ secrets.CACHE_VERSION }}-${{ hashFiles('./.github/workflows/buildtools.sh') }}
        restore-keys: |
          ${{ runner.os }}-maven-${{ secrets.CACHE_VERSION }}-
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'temurin'
    - name: BuildTools Java 8
      run: |
        sh ./.github/workflows/buildtools.sh java-8
    - name: Set up JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: '16'
        distribution: 'temurin'
    - name: BuildTools Java 16
      run: |
        sh ./.github/workflows/buildtools.sh java-16
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: BuildTools Java 17
      run: |
        sh ./.github/workflows/buildtools.sh java-17
    - name: Build
      run: |
        mvn clean package -pl orebfuscator-plugin -B --also-make -Drevision=$BUILD_VERSION
        mv orebfuscator-plugin/target/orebfuscator-*.jar ./
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: orebfuscator-plugin
        path: ./orebfuscator-*.jar
